body {
    font-family:"trebuchet ms",sans-serif;
    font-size:90%;
    background-color:beige;
    }
   form {
    background-color:transparent;
    padding:1px;
    width:1000px;
    
    }
   fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:0px solid #141715;
    }
   legend {
    color:#141715;
    font-weight:bold
    }
   label {
    margin-top:10px;
    display:block;
    }
   label.inline {
    display:inline;
    margin-right:50px;
    }
   input, textarea, select, option {
    background-color:#FFF3F3;
    }
   input, textarea, select {
    padding:3px;
    border:1px solid #141715;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #141715 inset;
    }
   select {
    margin-top:10px;
    }
   input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
    }
   input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #141715;
    cursor:pointer;
    }